<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zh.xiche">
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

         <!--<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vU9678fEaXjuUD9v7xzELhNcud5LIGjV" />-->
        <!--<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RT4TGU5cWUOSmOoSv4os1pvcfPR63TyM" />-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Cwy5kbxTGPuhS25bOjeNwHhnsPiFzGms" />
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--注册-->
        <activity
            android:name=".ui.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <!--注册 用户信息-->
        <activity
            android:name=".ui.RegisterUserInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />
        <!--注册 用户信息-->
        <activity
            android:name=".ui.RegisterResultActivity"
            />

        <!--注册 用户信息-->
        <activity
            android:name=".ui.SelectCityActivy"
            />

        <!--用户信息-->
        <activity
            android:name=".ui.PersonInfo"
            />

        <!--设置-->
        <activity
            android:name=".ui.set.SettingActivity"
            />
        <!--通用修改-->
        <activity
            android:name=".ui.CommonEdit"
            />

        <!--修改用户信息-->
        <activity
            android:name=".ui.ModifyUserInfoActivity"
            />

        <!--忘记密码-->
        <activity
            android:name=".ui.ForgetActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />

        <!--主界面-->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            />

        <!--订单列表-->
        <activity
            android:name=".ui.OrderListActivity"
            />
        <!--我的订单-->
        <activity
            android:name=".ui.myorder.MyOrderSwitch"
            />

        <!--订单详情-->
        <activity
            android:name=".ui.OrderDetailsActivity"
            />

        <!--派单-->
        <activity
            android:name=".ui.receive.GiveOrderActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <!--系统自动生成订单-->
        <activity
            android:name=".ui.receive.GiveOrderNormalActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />

        <!--我的账单-->
        <activity
            android:name=".ui.mybill.BillByAllActivity"
            />
        <!--年账单-->
        <activity
            android:name=".ui.mybill.BillByYearActivity"
            />
        <!--月账单-->
        <activity
            android:name=".ui.mybill.BillByMonthActivity"
            />
        <!--日账单-->
        <activity
            android:name=".ui.mybill.BillByDayActivity"
            />

        <activity
            android:name=".ui.WebViewActivity"
            />

        <receiver
            android:name=".ui.receive.MyReceiver"
            android:enabled="true"
            >
            <intent-filter>
            <!--Required 用户注册SDK的intent-->
            <action android:name="cn.jpush.android.intent.REGISTRATION" />
            <!--Required 用户接收SDK消息的intent-->
            <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
            <!--Required 用户接收SDK通知栏信息的intent-->
            <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
            <!--Required 用户打开自定义通知栏的intent-->
            <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
            <!-- 接收网络变化 连接/断开 since 1.6.3 -->
            <action android:name="cn.jpush.android.intent.CONNECTION" />
            <category android:name="com.zh.xiche" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
